body{
	background:#fafafa !important;
}
a:hover{
	text-decoration:none;
}
.item_cont a:hover{
	color:#CCC !important;
}
.contpad{
	margin-top:70px;margin-bottom:60px;
}
.headertp{
	background:linear-gradient(-45deg,#5f2c82,#ca4966);
	border-bottom:1px solid #cc0033;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
}
.logo{
	height:35px;padding:0px;margin:0px;
}
.navbar ul li a{
	color:#fff;
}
.navbar ul li:hover{
	background:#ff0033;
	
}
.footer{
	border-top:1px solid #cc0033;
	background:#ff3333;
	-webkit-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.55);
	box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.55);
}
.size_icon{
	font-size:22px;
	text-shadow: -1px 0px 1px rgba(0, 0, 0, 1);
}
.size_icon_2x{
	font-size:44px;
	text-shadow: -1px 0px 1px rgba(0, 0, 0, 1);
}
.icon-item{
	color:white;
	text-align:center;
}
.item_cont{
	margin-top:7px;
	margin-bottom:4px;
}
.icon-item span{
	width:100%;
}
.center{
	text-align:center;
}
.bord-rad{
	-webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.25);
}
.overlay{
	position:absolute;
	z-index:2;
	height:100%;
	width:100%;
	top:0;
	-webkit-box-shadow:inset 0px 10px 30px 0px rgba(0,0,0,0.75);
	-moz-box-shadow:inset 0px 10px 30px 0px rgba(0,0,0,0.75);
	box-shadow:inset 0px 10px 30px 0px rgba(0,0,0,0.75);
}